- const title = "romanize-yue"

head
  title= title
  link(rel="stylesheet", href="style.min.css")

  //
    for lang in ["emc", "yue", "cmn"]
      for key in ["standard", "simple", "ascii", "ipa"]
        script(src=`romanization-${lang}-${key}.js`)
  script(src="romanization/emc-standard.js")
  script(src="romanization/yue-standard.js")
  script(src="romanization/yue-simple.js")
  script(src="romanization/yue-ipa.js")
  script(src="romanization/yue-ascii.js")
  script(src="romanization/cmn-standard.js")
  script(src="romanization/cmn-simple.js")
  script(src="script.js")

body
  #head
    input(type="checkbox")#single.trigger
    label single
    input(type="checkbox")#cyrillic.trigger
    label cyrillic
    input(type="checkbox")#uppercase.trigger
    label uppercase
    select#alphabet.trigger
      option(value="standard") standard
      option(value="simple") simple
      option(value="ipa") IPA
      option(value="ascii") ASCII
  #body
    textarea#source.trigger.
      春眠不覺曉
      處處聞啼鳥
      夜來風雨聲
      花落知多少

      幫滂竝明
      非敷奉微
      端透定泥
      知徹澄娘
      精清從＿心邪
      莊初崇＿生俟
      章昌常日書船
      見溪群疑
      影＿＿云曉匣
      ＿＿＿來
    #emc.sink
    #yue.sink
    #cmn.sink
  #foot
    a tweet