- const title = "romanize-yue"

head
  title= title
  link(rel="stylesheet", href="style.min.css")
  script(src="romanization-emc.js")
  script(src="romanization-yue.js")
  script(src="romanization-yue-simple.js")
  script(src="romanization-yue-ipa.js")
  script(src="romanization-cmn.js")
  script(src="romanization-cmn-simple.js")
  script(src="script.js")

body
  #head
    input(type="checkbox")#single.trigger
    label single
    input(type="checkbox")#cyrillic.trigger
    label cyrillic
    input(type="checkbox")#uppercase.trigger
    label uppercase
    input(type="checkbox")#simple.trigger
    label simple
    input(type="checkbox")#ipa.trigger
    label IPA
  #body
    textarea#source.trigger.
      春眠不覺曉
      處處聞啼鳥
      夜來風雨聲
      花落知多少

      幫滂竝明
      非敷奉微
      端透定泥
      知徹澄娘
      精清從＿心邪
      莊初崇＿生俟
      章昌常日書船
      見溪群疑
      影＿＿云曉匣
      ＿＿＿來
    #emc.sink
    #yue.sink
    #cmn.sink
  #foot
    a tweet