*
  box-sizing: border-box

html
  height: 100%

  body
    margin: 0
    height: 100%

    font-family: "Noto Sans"
    font-size: 14pt
    font-weight: 300
    color: white
    background-color: black

    textarea
      resize: none
      
    #head
      height: 5%
      width: 100%
      text-align: center
      vertical-align: bottom

      select, option
        color: inherit
        background-color: inherit
        font: inherit
      option
        background-color: black

    #body
      margin: 0
      padding: 0
      width: 100%
      height: 90%
      @media screen and (orientation:landscape)
        display: flex

      #source
        white-space: pre

      #source, .sink
        border: 1px solid
        color: inherit
        background-color: transparent
        font: inherit
        padding: 4px

        @media screen and (orientation:landscape)
          height: 100%
          width: calc(100% / 4)
          display: inline-block
          &:not(:first-child)
            border-left: 0
        @media screen and (orientation:portrait)
          height: calc(100% / 4)
          width: 100%
          &:not(:first-child)
            border-top: 0
            margin: 0
            padding: 4px

        &:focus
          outline: none

      .sink
        white-space: pre-wrap
        overflow: auto

        span, .multiple
          display: inline-block
          margin-bottom: 8px

        .multiple
          display: inline-block
          vertical-align: top
          border-left: 1px solid

          .option, .option:active
            font: inherit
            color: white
            border: 0
            width: 100%
            margin: 0
            background-color: transparent

        .syllable
          &.emc
            &.tone-0
              background-image: linear-gradient(to right, #0004, #0004)
            &.tone-1
              background-image: linear-gradient(to right, #0004, #fff4)
            &.tone-2
              background-image: linear-gradient(to right, #fff4, #0004)
            &.tone-3
              background-image: linear-gradient(to right, #fff4, #fff4)
          &.yue
            &.voiced
              &.tone-0
                background-image: linear-gradient(to right, #8884, #0004)
              &.tone-1
                background-image: linear-gradient(to right, #0004, #8884)
              &.tone-2
                background-image: linear-gradient(to right, #0004, #0004)
              &.tone-3
                background-image: linear-gradient(to right, #8884, #8884)
            &:not(.voiced)
              border-bottom: 0
              &.tone-0
                background-image: linear-gradient(to right, #fff4, #8884)
              &.tone-1
                background-image: linear-gradient(to right, #8884, #fff4)
              &.tone-2
                background-image: linear-gradient(to right, #8884, #8884)
              &.tone-3
                background-image: linear-gradient(to right, #fff4, #fff4)
          &.cmn
            &.tone-0
              background-image: linear-gradient(to right, #fff4, #fff4)
            &.tone-1
              background-image: linear-gradient(to right, #0004, #fff4)
            &.tone-2
              background-image: linear-gradient(to right, #0004, #0004)
            &.tone-3
              background-image: linear-gradient(to right, #fff4, #0004)
            &.tone-5
              background-image: linear-gradient(to right, #8884, #8884)

  #foot
    height: 5%
    width: 100%
    text-align: center

    a
      color: inherit
